body {
    background-color: white;
}

h1 {
  color:blue
}

h1#header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: darkgreen;
  }
 
.login-user {
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
 }

legend {
  padding: 10px
}

fieldset {
  padding-top: 10px;
  padding-bottom: 20px;
}

img#hero {
  float: left;
  padding-top: 10px;
  width: auto;
  max-width: 100%;
}